
*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Permanent Marker', cursive;}

section{width: 100%; height: 100vh; display: flex; justify-content: center; flex-direction: column; align-items: center; background: #FFB533}

section h1{ text-shadow: 2px 5px 5px #FF4C33; word-spacing: 10px; margin-bottom: 15px; 
 font-size:2.5rem; text-transform: uppercase; letter-spacing: 2px; color: white;}
.divCenter{ width: 60%; height: 500px; box-shadow:2px 2px 2px 5px white;  display: flex;  
flex-direction: column;  align-items: center; justify-content: center; background: #FF334C; color: white;}



.divDetails{ text-align: center; text-transform: uppercase; }

.divDetails label{font-size: 1.4rem;}
.divDetails input { padding: 10px; background-color: #ff6b81; color: white; text-align: center;}
.divDetails input[type=text]:focus {
  border: 3px solid #555;
}

.divImg {margin: 30px 0;}
.txtName{font-size: 1.5rem;}
button {
  background: #3498db;
  width: 280px;
  padding: 4px 0;
  border-radius: 3px;
  color:white;
  font-size: 1.2rem;
  letter-spacing: 2px;
    background-color: darken(#f1c40f, 20%);
   }


  button:hover {
    cursor: pointer;
  }